packages:
  yum:
    git: []
    recode: []
container_commands:
  01_install_mvn:
    command: "cd /opt &&
    wget https://www-eu.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz &&
    tar xvf apache-maven-3.6.3-bin.tar.gz -C /usr/lib/ &&
    cat /tmp/resources/etc/maven_profile.txt >> /etc/profile " 
  02_clone_dspace_vivo:
    command: "cd /opt &&
    cat /tmp/resources/etc/jena_profile.txt >> /etc/profile &&
    source /etc/profile &&
    git clone https://github.com/vivo-community/DSpace-VIVO.git &&
    git clone https://bitbucket.org/vivo-workspace/data-format-translator.git &&
    cd data-format-translator &&
    ./install-translator.sh /opt/DSpace-VIVO/deploy/translator &&
    cd /opt &&
    ./DSpace-VIVO/test/org.vivoweb.dspacevivo.etlexample/script/mvn_install_example.sh "
