option_settings:
    aws:elb:listener:443:
        InstancePort: '80'
        InstanceProtocol: HTTP
        ListenerEnabled: 'true'
        ListenerProtocol: HTTPS
        SSLCertificateId: arn:aws:iam::816115272480:server-certificate/elastic-beanstalk-x509
    aws:elb:loadbalancer:
        CrossZone: 'true'
        LoadBalancerHTTPPort: '80'
        LoadBalancerHTTPSPort: 'OFF'
        LoadBalancerPortProtocol: HTTP
        LoadBalancerSSLPortProtocol: HTTPS
  